streamlit>=1.29         #Frontend Framework
supabase>=2.0.2         #Supabase Python Client
fastapi>=0.104.1        #Backend Framework
uvicorn>=0.24.0         #ASGI Server
python-dotenv>=1.0.0    #Environment Variable Management
